.modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;

  .modal__content {
    background-color: #ffa2ab;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;

    .modal__result-header {
      margin-bottom: 1.5rem;
    }

    button {
      cursor: pointer;
      background-color: #fff;
      color: #ffa2ab;
      border: 0;
      border-radius: 10px;
      margin: 1.5rem 0 0;
      padding: 1rem 20px;
      font-size: 16px;
    }

    button:active {
      transform: scale(0.98);
    }

    button:focus {
      outline: 0;
    }
  }
}
